.container {
  max-width: 150rem;
  margin: auto;
}

.flex-al-center {
  display: flex;
  align-items: center;
}

// MARGINS
.mr-auto {
  margin: auto;
}

.u-margin-bottom-xsm {
  margin-bottom: 0.5rem;
}
.u-margin-bottom-sm {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-md {
  margin-bottom: 3rem;
}
.margin-top-big {
  margin-top: 8rem;
}
.u-margin-left-small {
  margin-left: 2rem;
}

// FONT WEIGHT
.fw-600 {
  font-weight: 600;
}

// FONT SIZES
.fs-sm {
  font-size: 1.6rem;
}
.fs-md {
  font-size: 1.8rem;
}

// COLOR
.cl-orange {
  color: var(--color-orange);
}

.bg-cl-white-grey {
  background-color: var(--color-white-grey);
}

//BORDER
.br-bottom-1px {
  border-bottom: 0.8px solid var(--color-grey-light-1);
}

// WIDTH
.wd-max {
  width: max-content;
  max-width: 90vw;
}

.page-content {
  min-height: calc(100vh - 14rem);
  position: relative;

  @include responsiveMax(56.25em) {
    min-height: calc(100vh - 20rem);
  }
}

.ds-none-68em {
  @include responsiveMax(68em) {
    display: none !important;
  }
}

.ds-visible-68em {
  display: none !important;
  @include responsiveMax(68em) {
    display: block !important;
  }
}

.div-skeleton-load {
  height: 20rem;
  width: 100%;
  animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-img {
  animation: skeleton-loading 1s linear infinite alternate;
}
