.container {
  max-width: 150rem;
  margin: auto;
}
.div-skeleton-load {
  height: 20rem;
  width: 100%;
  animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-img {
  animation: skeleton-loading 1s linear infinite alternate;
}
.margin-top-big {
  margin-top: 8rem;
}
