.btn {
  &,
  &:link,
  &:active,
  &:visited {
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }

  &--yellow {
    background-color: var(--color-yellow-dark-2);
  }

  &--rounded {
    border-radius: 20px;
  }

  &--full {
    width: 100%;
  }

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(-1px);
  }
}

.btn-text {
  &,
  &:link,
  &:visited {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    color: var(--color-blue);
    transition: all 0.2s;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &:hover {
    color: var(--color-orange);
    text-decoration: underline;
  }
}
